.user-block {
  width: 280px;
}

.user-name {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.user-comment {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
}
