.main__title-form {
  color: $white;
  margin: 0;
  padding: 36px 46px 51px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  width: 228px;
}

//User info

.registration {
  &__title {
    background-color: $white;
    color: $black;
    text-align: center;
    padding: 54px 20px 55px;
    font-size: 14px;
    line-height: 30px;
  }

  &__field {
    border: none;
    margin: 0;
    padding: 0;
    width: 320px;
  }

  &__full-name {
    text-transform: uppercase;
    color: $red;
  }

  &__field label {
    display: inline-block;
    padding: 0 0 17px 44px;
  }

  &__field input {
    border: 2px solid $grey;
  }

  &__field input:hover {
    border: 2px solid $dark-green;
  }

  &__field input:active {
    border: 2px solid $red;
  }

  &__field input[placeholder] {
    font-size: 18px;
    line-height: 30px;
    border-radius: 1px;
    padding: 23px 20px;
    width: 236px;
    margin: 0 0 29px 22px;
  }

  &__legend {
    text-transform: uppercase;
    color: $red;
    text-align: center;
    padding: 42px 0 40px 0;
  }

  //input type checkbox

  &__achievement {
    background-color: $light-grey;
  }

  //input contact info

  &__contact-info {
    text-transform: uppercase;
    color: $red;
    padding-top: 42px;
  }

  //input type radio apps

  &__apps {
    background-color: $light-grey;
  }

  &__description {
    margin: 0 auto;
  }

  &__description textarea {
    border: 2px solid $light-grey;
    resize: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    max-width: 100%;
    padding: 22px 25px;
    margin-top: -20px;
    margin-left: 20px;
    width: 226px;
    height: 153px;
  }
}

// checkbox styles

.checkbox {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
    display: block;
    user-select: none;
    width: 320px;
    height: 37px;
    margin: 0;
    padding-bottom: 47px;
  }

  &__input + label {
    font-size: 18px;
    line-height: 30px;
    color: $dark-green;
    padding: 0 0 0 79px;
  }

  &__input + label::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid $grey;
    border-radius: 1px;
    top: 0;
    left: 22px;
    background-color: $white;
  }

  &__input + label:hover::before {
    cursor: pointer;
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid $black;
    border-radius: 1px;
    top: 0;
    left: 22px;
  }

  &__input + label:active::before {
    cursor: pointer;
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid $red;
    border-radius: 1px;
    top: 0;
    left: 22px;
  }

  &__input:checked + label::after {
    content: "";
    position: absolute;
    background-image: url("../../img/tick.svg");
    width: 22px;
    height: 16px;
    top: 9px;
    left: 31px;
  }
}

//radio styles

.radio {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
    margin-bottom: 40px;
  }

  &__btn + label {
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 0 90px;
  }

  &__btn + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px solid $grey;
    background-color: $white;
  }

  &__btn + label:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px solid $black;
    background-color: $white;
  }

  &__btn + label:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px solid $red;
    background-color: $white;
  }

  &__btn:checked + label::after {
    content: "";
    position: absolute;
    background-color: $red;
    top: 11px;
    left: 21px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid $red;
  }
}

.form__button {
  font-size: 18px;
  line-height: 30px;
  background-color: $green-btn;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid $green-btn;
  border-radius: 1px;
  margin: 52px 22px 0;
}

.form__button:hover {
  background-color: $green-hover;
  border-color: $green-hover;
}

.form__button:active {
  color: rgba($color: $white, $alpha: 0.3);
}

.registration__required-text {
  padding-top: 46px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;

  & span {
    color: $red;
  }
}
