.tarif {
  display: flex;
  justify-content: space-between;
}

.price-list {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 49px;
}

.table {
  width: 276px;
  margin: 0 auto;
  padding: 40px 0 45px 0;

  &__title {
    background-color: $dark-green;
  }

  &__title-name {
    text-transform: uppercase;
    color: $white;
  }

  &__title-price {
    color: $white;
    font-weight: 300;
    margin: 0;
  }

  &__item {
    padding-left: 19px;
    background-color: $white;
    text-transform: uppercase;
    font-weight: 300;
    height: 59px;
    position: relative;
  }

  &__item::after {
    content: url("../../img/yes.svg");
    position: absolute;
    top: 19px;
    right: 17px;
  }
}
