.main-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;

  &__slogan {
    color: $white;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 310px;
  }
}

.main-info {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  background-color: $dark;
  align-items: center;

  &__platforms {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 204px;
    padding-left: 0;
    margin-top: 32px;
  }

  &__text {
    color: $white;
    text-align: center;
    margin-bottom: 38px;
  }
}

.button {
  background-color: transparent;
  border: 3px solid $white;
  padding: 21px 38px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 45px;
  color: $white;
}
