.footer {
  background-color: $white;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    text-decoration: none;
  }

  &__link img {
    margin-right: 14px;
  }

  &__item {
    margin-top: 41px;
  }
}

.socials {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 3px solid rgba($dark-green, 0.1);
    border-radius: 50%;
    margin-right: 14px;
  }

  &__link:hover {
    border: 3px solid rgba($dark-green, 1);
  }

  &__link:active {
    opacity: 0.3;
  }
}

.copyright {
  display: flex;
  align-items: center;

  & p {
    margin-right: 15px;
  }
}
